@font-face {
    font-family: "Grotesk";
    src: url('Grotesk.ttf') format('truetype');
}
body {
    display: flex;
    height: 100vh;
    text-align: center;
    font-family: "Grotesk", sans-serif;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container {
    text-align: center;
}
button {
    margin-top: 20px;
    font-family: "Grotesk", sans-serif;
    border-radius: 3em;
    font-size: 16px;
    padding: 10px 20px;
}
h1 {
    text-align: center;
    font-family: "Grotesk", sans-serif;
}
#quote{
	margin-top: 20px;
}
#kindness-display{
	font-size: 20px;
}
